/* App.css */
body {
  background: linear-gradient(25deg, #27006f, #1e0251, #0b1c20, #1A0442);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0; /* Reset default margin */
}

.marketplace {
  max-width: 710px;
  margin: 20px auto;
  padding: 0 20px; /* Add padding to the sides */
}

.lottery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.lottery-card {
  /* Common styles for both active and closed lotteries */
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s;
  text-align: center;
}

.lottery-card.active {
  /* Styles for active lotteries */

  border: 2px solid #00ab25;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: #718f72;
}

.lottery-card.closed {
  /* Styles for closed lotteries */
  border: 3px solid #20daff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.853);
  background-color: #adadad;
  -webkit-text-fill-color: #000;
}


.lottery-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.72);
}

.lottery-card h3 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.lottery-card p {
  color: #fff;
}

.lottery-card button {
  background-color: rgba(190, 82, 226, 0.907);
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 255, 8, 0.5);
  transition: box-shadow 0.3s;
}

.lottery-card button:hover {
  box-shadow: 0 0 4px rgb(255, 255, 255);
}

.whale-pool-card {
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s;
  text-align: center;
  transition: box-shadow 0.3s, background-color 0.9s;
}

.whale-pool-card.active {
  border: 2px solid #00ab25;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: #718f72;
  
}

.whale-pool-card.closed {
  border: 3px solid #20daff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.853);
  background-color: #a80000;
  -webkit-text-fill-color: #000;
}

.whale-pool-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.844);
  background-color: #9dff00;
}
 
.whale-pool-card h3 {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.whale-pool-card p {
  color: #fff;
}

.whale-pool-card button {
  background-color: rgba(190, 82, 226, 0.907);
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 255, 8, 0.5);
  transition: box-shadow 0.3s, background-color 0.5s;
}

.whale-pool-card button:hover {
  box-shadow: 0 0 4px rgb(255, 255, 255);
}

.plus-icon-container {
  width: 250px;
  height: 250px;
  margin: 14px;
  border-radius: 15px;
  border: 2px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.8s;
}
.plus-icon-container:hover{
  background-color:#f8ecec37
}
.plus-icon-container:hover .plus-icon {
  color: #b0eaf6;
}



/* App.css */
header {
  background-color: #184d53a8; /* Add background color */
}

.menu {
  display: flex; /* Use flexbox to make the menu horizontal */
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center; /* Center items vertically */
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}

.menu li {
  margin: 0 15px; /* Add spacing between menu items */

}

.menu img {
  width: 100px; /* Set the width of the logo */

  height: auto; /* Maintain aspect ratio */
}

.menu a {
  color: #fff; /* Set text color to white */
  font-size: 13px; /* Set font size */
  text-decoration: none;
}

.menu a:hover {
  color: #000000; /* Change text color on hover */
}

svg {
  width: 100px; /* Set the width of the SVG */
  height: auto; /* Maintain the aspect ratio */
}

path {
  stroke-width: 1px; /* Set the thickness of the strokes */
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Background color for dropdown content */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  color: #fff; /* Text color for dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown content links hover */
.dropdown-content a:hover {
  background-color: #555; /* Background color on hover */
}
/* Style the active page link */
nav ul li a.active {
  font-weight: bold;
  color: #000000c8; /* Add background color */
  text-decoration: underline;
}


.user-preferences {
  display: flex;
  justify-content: center; /* Center the widgets horizontally */
}

.widget-container {
  text-align: center; /* Center the widget and its label */
  margin-bottom: 20px; /* Add some space between widget-label pairs */
}

.widget {
  display: inline-block;
  padding: 4px 3px;
  border-radius: 5px;
  background-color: #221c1c0a;
  cursor: pointer;
  transition: background-color 0.8s ease;
  margin: 0 70px;
}

.widget-label {
  margin-top: 9px; /* Add space between widget and label */
}

.widget:hover {
  background-color: #e0e0e0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.dashboard-heading {
  margin-bottom: 80px; /* Add space below the heading */
}


.cardStyle {
  background-color: #51059949; /* Light grey background */
  border-radius: 20px; /* Rounded corners */
  padding: 25px; /* Padding inside the card */
  margin-bottom: 20px; /* Space between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow to each card */
}

.generateLotteryBtn {
  padding: 10px 20px; /* Larger button */
  background-color: #156a9c; /* Initial green color */
  border: none;
  color: white;
  font-size: 16px; /* Adjust as needed */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Removes the outline */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.generateLotteryBtn:hover {
  background-color: #95c997; /* Darker shade of green on hover */
}

.generateLotteryBtn:active {
  box-shadow: 0 0 10px #00ff00; /* Green glow on click */
}